.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
    background-color: black;

    /* height: 88%; */
    height: 89vh;
    max-height: 900px;
    min-height: 750px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kyle-description-container {
  height: fit-content;
  width: 75%;
  max-width: 1000px;
}

.terminal-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.kyle-skills-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kyle-skills-container p {
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}

.projects-container {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 40%
}