.kyle-mcparland {
    font-family: "Newsreader", serif;
    color: white;
    font-style: normal;
    font-size: clamp(80px, 100px, 200px); 
    /* Min - preferred - max */
    z-index: 999;
}

.box-for-hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px;
  text-align: center;
}

.test {
  color: #0c0c0c;
  z-index: 0;
  position: absolute;
  font-size: 300px;
  font-weight: 900;
}