.terminal-window {
  display: flex;
  flex-direction: row;
  background-color: #1f1f1f;
  width: 500px;
  height: 400px;
  border-radius: 10px;
  margin: 1rem;

  line-height: 20px;
}

.terminal-code {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  color: #cccccc;

  padding: 1rem;
  width: 100%;
}

pre {
  margin: 0; /* Remove default top and bottom margins */
  padding: 0; /* Remove padding if necessary */
}